@import "../../styles/variables";

.creation-steps {
   display: flex;
   justify-content: space-between;
   margin: 20px 0;

   .step {
      flex: 1;
      text-align: center;
      padding: 20px;
      border: 1px solid $color-dark;
      margin: 0 10px;
      box-shadow: 12px 12px 2px 1px $color-tertiary;

      .step-number {
         font-size: 24px;
         font-weight: bold;
         color: $color-tertiary;
         margin-bottom: 15px;
      }

      p {
         font-size: 16px;
         color: $color-dark;
      }
   }
}
