.addmenupage {
   display: flex;
   height: 100vh;

   .main {
      text-align: left;
      flex-direction: column;
      width: 55%;
      margin: 100px;

      .create-section {
         width: 100%;
         padding-bottom: 70px;
         text-align: center;

         p {
            text-align: left;
         }

         .step {
            background-color: white;
            border-radius: 5px;
            margin-bottom: 30px;
         }
      }

      Button {
         margin-bottom: 10px;
         padding: 10px;
      }
   }

   // Zone de previsualisation du menu

   .preview {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 45%;
      border-left: 1px solid black;
      background-color: #363636;

      .previewmenu {
         width: 424px;
         height: 644px;
         background-color: white;
         border-radius: 7px;
         top: 50%;
      }
   }
}

.step.active {
   display: block;
}

.step:not(.active) {
   display: none;
}
