@import "../../styles/variables";

.menu {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   width: 20%;
   background-color: #ffffff;
   box-shadow: 4px 10px 24px 10px rgba(154, 59, 59, 0.105);
   z-index: 2;

   h2 {
      align-self: center;
      margin: 50px;
   }

   ul {
      text-align: left;
      list-style: none;
      padding: 0;
   }

   li {
      margin: 20px 0;
      &:hover {
         background-color: $color-light;
         border-radius: 10px;
         cursor: pointer;
         color: aqua;
      }

      a {
         display: block;
         padding: 20px 0 20px 20px;
         text-decoration: none;
      }

      .active-link {
         background-color: $color-tertiary;
         color: $color-light;
         border-radius: 10px;
      }
   }

   .menu-sections li {
      margin: 20px;
      a {
         font-size: 2vh;
      }
   }

   .menu-sections2 li {
      margin: 3px 20px;
      a {
         font-size: 1.4vh;
      }
   }

   .menu-separation {
      text-align: left;
      margin-left: 40px;
      padding: 70px 0;
   }
}
