@import "../../styles/variables";

.platoverlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;
}

.content {
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: center;
   background-color: $color-secondary;
   border-radius: 5px;
   width: 553px;
   height: 617px;
}

.close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   background: none;
   border: none;
   font-size: 1.9rem;
   cursor: pointer;
}

form {
   margin: 0;
   width: 318px;

   .image-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      background-color: $color-primary;
      border-radius: 10px;
      position: relative;

      label {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         padding: 20px;
         cursor: pointer;
      }

      .icon-camera {
         font-size: 2rem;
         margin-bottom: 10px;
      }

      .file-size-info {
         font-size: 0.8rem;
         color: #888;
      }

      input[type="file"] {
         display: none;
      }

      .preview-image {
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
         border-radius: 10px;
      }
   }

   .input-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;

      .input-group {
         flex: 1;

         p {
            margin-bottom: 5px;
            text-align: left;
         }

         input {
            width: 100%;
            height: 29px;
            box-sizing: border-box;
         }
      }

      .plat-group {
         flex: 3; /* 75% */
      }

      .price-group {
         flex: 1; /* 25% */
      }
   }

   .plat-description {
      width: 100%;

      p {
         margin-bottom: 5px;
         text-align: left;
      }

      input {
         width: 100%;
         height: 29px;
         box-sizing: border-box;
      }
   }

   button {
      margin-top: 30px;
   }
}
